# This is the .envrc file. It is only loaded on the host machine.

export GOPATH=$PWD/.go

# Just in case, some tools may want to use GOBIN (when installing vscode tools probably).
export GOBIN=$GOPATH/bin

# Temporary hack to disable cgo in vscode with direnv plugin. For precompiled QT and tooling attach into the deply_linux container.
export CGO_ENABLED=0

export REPO=$PWD

PATH_add "$GOBIN"
PATH_add "$PWD/bin"
