PATH_add "$PWD/.go/bin"

export GO111MODULE=on
export GOPATH=${PWD}/.go

# Some programs may depend on separate GOROOT.
export GOROOT=$(go env GOROOT)

#export GOBIN=${GOPATH}/bin

PATH_add "${GOPATH}/bin"
